.body, form, errSection{
    width: 100%;
    height: 100%;
    display: grid;
}

.body{
    animation: fadein 0.4s;
    place-content: center;
}

.form{
    grid-row-gap: 20px;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

input[type=text]{
    border: 0.5px solid #dadada;
}

.errSection{
    margin-top: 15px;
    margin-bottom: 15px;
}

.errorText{
    text-align: left;
    font-size: 16px;
    letter-spacing: -0.1em;
    color: rgba(255, 0, 0, 0.5);
}