.body{
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadein 0.4s;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.inputMarin{
    margin-top: 15px;
}

input[type=text]{
    width: 439px;
    height: 43px;
    border: 0.5px solid rgba(0, 0, 0, 0.35);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(0.5px);
    padding-left: 18px;
}

input::placeholder{
    font-size: 18px;
    letter-spacing: -0.1em;
}

.button{
    width: 460px;
    height: 43px;
    margin-top: 25px;
    font-size: 18px;
    letter-spacing: -0.1em;
    cursor: pointer;
    filter: blur(0.5px);
    border: 0.5px solid rgba(0, 0, 0, 0.35);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFDAB9;
}

.button:disabled{
    cursor: auto;
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 218, 185, 0.25);
}

.container{
    width: 460px;
}

.errorText{
    text-align: left;
    margin-top: 8px;
    margin-bottom: -8px;
    font-size: 16px;
    letter-spacing: -0.1em;
    color: rgba(255, 0, 0, 0.5);
}