.body, form, errSection{
    width: 100%;
    height: 100%;
    display: grid;
}

.body{
    animation: fadein 0.4s;
    place-items: center;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.sectionProfile{
    width: 128px;
    height: 128px;
    background-color: #d9d9d9;
    border-radius: 100%;
    margin-bottom: 20px;
}

.formBody{
    grid-row-gap: 10px;
}

.placeholder{
    width: auto;
    height: 48px;
    border: 0.5px solid #dadada;
    letter-spacing: -0.5px;
    font-size: 18px;
    padding-left: 14px;
}

.errArticleMiddle{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.errArticleLast{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.errorText{
    text-align: left;
    font-size: 16px;
    letter-spacing: -0.1em;
    color: rgba(255, 0, 0, 0.5);
}

.button{
    color: white;
    width: 100%;
    height: 52px;
    font-size: 18px;
    letter-spacing: -0.1em;
    cursor: pointer;
    border: 0.5px solid rgba(0, 0, 0, 0.35);
    background-color: #72B2C6;
}

.button:disabled{
    cursor: auto;
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(114, 178, 198, 0.25);
}