.indexWiki{
    width: 1280px;
    height: 620px;
    padding-top: 300px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.indexWikiContentsYesAnimation{
    text-align: right;
    margin-right: 40px;
    animation-name: indexWikiContentsAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes indexWikiContentsAnimation{
    from{
        opacity: 0;
        transform: translateX(-20px);
    }

    to{
        opacity: 3;
        transform: none;
    }
}

.indexWikiContentsNoAnimation{
    text-align: right;
    margin-right: 40px;
}

.indexGenre{
    display: flex;
    justify-content: right;
    justify-items: center;
    font-size: 30px;
    letter-spacing: -0.1em;
    margin-bottom: -10px;
}

.genreTitle{
    margin-right: 4px;
}

.contentsTitle{
    font-size: 52px;
    line-height: 50%;
    letter-spacing: -0.1em;
}

.contentsDetails{
    font-size: 25px;
    line-height: 60%;
    letter-spacing: -0.1em;
    color: #666666;
}

.button{
    color: white;
    margin-top: 15px;
    width: 290px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #72B2C6;
    font-size: 20px;
    letter-spacing: -0.05em;
}

.indexWikiPicture{
    width: 620px;
    height: 620px;
}