.body, .titleArticle{
    align-items: center;
}

.body{
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}

.pictureSection{
    text-align: right;
}

.pictureAnimation{
    animation-name: pictureAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes pictureAnimation{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 3;
        transform: none;
    }
}

.mainPicture{
    border-radius: 5%;
    width: 85%;
    height: 85%;
}

.textSection{
    text-align: left;
}

.titleArticle{
    display: flex;
    justify-content: flex-start;
}

.titleText{
    color: #72B2C6;
    font-weight: 900;
}

.mainText{
    color: #191f28;
}

.subText{
    color: #333d4b;
}