.body, .titleArticle{
    align-items: center;
}

.body{
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}

.pictureSection{
    text-align: left;
}

.mainPicture{
    width: 70%;
    height: 70%;
}

.textSection{
    text-align: right;
}

.titleArticle{
    display: flex;
    justify-content: flex-end;
}

.titlePicture{
    width: 40px;
    height: 40px;
}

.titleText{
    font-size: 23px;
}

.mainText{
    font-size: 35px;
}

.subText{
    font-size: 18px;
    color: #666666;
}