.body, .titleArticle{
    align-items: center;
}

.body{
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}

.pictureSection{
    text-align: right;
}

.mainPicture{
    border-radius: 5%;
    width: 85%;
    height: 85%;
}

.textSection{
    text-align: left;
    line-height: 200%;
}

.titleArticle{
    display: flex;
    justify-content: flex-start;
}

.titleText{
    color: #72B2C6;
    font-weight: 900;
    line-height: 0%;
}

.subText{
    color: #666666;
}