.body{
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-rows: 86% 14%;
    align-items: center;
}

.titleSection, .toUnderSection{
    text-align: center;
}

.titleText{
    font-size: 40pt;
    color: #666666;
}

.titleTextBold{
    font-size: 50pt;
    color: #000000;
}

.toUnderText{
    font-size: 14pt;
    color: #666666;
}