.body{
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-rows: 86% 14%;
    align-items: center;
}

.titleSection, .toUnderSection{
    text-align: center;
}

.titleSection{
    letter-spacing: -4px;
    animation-name: titleTextAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes titleTextAnimation{
    from{
        opacity: 0;
        transform: translateY(-2vh);
    }

    to{
        opacity: 3;
        transform: none;
    }
}

.titleText{
    font-size: 40pt;
    color: #666666;
}

.titleTextBold{
    font-size: 50pt;
    color: #000000;
}

.toUnderSection{
    letter-spacing: -1px;
    animation-name: toUnderAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes toUnderAnimation{
    from{
        margin-bottom: 4vh;
    }

    to{
        margin-bottom: 0px;
    }
}

.toUnderText{
    font-size: 14pt;
    color: #666666;
}