.sendToFeedback{
    display: block;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 400px;
}

.title{
    font-size: 70px;
    letter-spacing: -2px;
}

.contents{
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: -2px;
    color: #666666;
}

.button{
    margin-top: 30px;
    width: 144px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #FFDAB9;
    font-size: 14px;
    letter-spacing: -1px;
}