.sendToFeedback{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    background-color: #f1f1f1;
}

.title{
    font-size: 70px;
    letter-spacing: -0.1em;
}

.contents{
    margin-top: 15px;
    font-size: 25px;
    letter-spacing: -0.1em;
    color: #666666;
}

.button{
    color: white;
    margin-top: 30px;
    width: 290px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #72B2C6;
    font-size: 20px;
    letter-spacing: -0.05em;
    cursor: pointer;
}