.body{
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.mainBody{
    width: 100%;
    height: 100%;
    display: block;
}

.sectionHeader{
    display: grid;
    grid-template-columns: 40% 30% 10% 10% 10%;
    grid-template-rows: 50px;
    place-items: center;
    border-top: 1px solid #6b7684;
    background-color: #f9fafb;
}

.headerContents{
    font-size: 20px;
    letter-spacing: -0.1em;
}

.sectionPost{
    width: 100%;
    height: 100%;
    display: block;
    list-style: none;
}

.titleText{
    margin-left: 0.5%;
}