.body{
    padding-top: 200px;
    width: 1920px;
    height: 930px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.communityLatestPostHeader{
    display: grid;
    grid-template-columns: 500px 300px 160px 160px 160px;
    grid-template-rows: 60px;
    place-items: center;
    border-bottom: 1px solid #D9D9D9;
}

.headerContents{
    font-size: 20px;
    letter-spacing: -0.1em;
}

.loading{
    margin-top: 200px;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4285f4;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}