.body, .sectionContents, .articleGrid{
    width: 100%;
}

.sectionContents, .articleGrid{
    height: auto;
}

.body{
    height: 100%;
    display: grid;
    grid-template-columns: 5% 95%;
    align-items: center;
    column-gap: 0.5em;
}

.sectionProfilePicture{
    display: flex;
    place-content: center;
}

.sectionContents{
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.picture{
    width: 75%;
    aspect-ratio: 1/1;
    background-color: #dadada;
    border-radius: 100%;
}

.writer {
    font-size: 14px;
}

.articleGrid{
    display: flex;
    align-items: center;
    gap: 1em;
}

.createdTime{
    font-size: 14px;
    color: #333d4b;
}

.hits{
    font-size: 14px;
    color: #333d4b;
}

.writer, .hits{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}