.header{
    grid-template-columns: 420px 1080px 420px;
    grid-template-rows: 100px;
    display: grid;
    position: fixed;
    place-items: center;
    background-color: #ffffff;
    z-index: 1;
}