.iconNav{
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 100px;
    display: grid;
    place-items: center;
}

.container{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container:hover{
    background: #EEEEEE;
    border-radius: 100%;
}