.body{
    width: 21.8vw;
    height: inherit;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    place-items: center;
}

.container{
    height: 80%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container:hover{
    background: #EEEEEE;
    border-radius: 100%;
}