.iconNav{
    grid-template-columns: 106.6666666666667px 106.6666666666667px 106.6666666666667px;
    grid-template-rows: 100px;
    display: grid;
    place-items: center;
}

.container{
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container:hover{
    background: #EEEEEE;
    border-radius: 100%;
}