.link{
    width: 202px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo{
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #000000;
}