.body{
    width: 21.8vw;
    height: inherit;
    display: flex;
}

.container{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    width: 50vw;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logo{
    font-size: 40px;
    letter-spacing: 0.025em;
    color: #000000;
}