.link{
    width: 290px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logoTxt{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #000000;
}