.logoNavigationLink{
    text-decoration: none;
    color: #000000;
}

.hamstoryLogo{
    vertical-align: middle;
}

.logoText{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -2px;
    padding-left: 16px;
}