.body{
    cursor: pointer;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 204px;
    height: 61px;
    color: #000000;
    text-decoration: none;
}

.text{
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}