.body{
    width: 56.4vw;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

.link{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.container{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container:hover{
    background: #EEEEEE;
}

.title{
    font-size: 20px;
    letter-spacing: -0.1em;
    color: #000000;
}