.textNav{
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 100px;
    display: grid;
    place-items: center;
}

.container{
    width: 140px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container:hover{
    background: #EEEEEE;
}

.title{
    font-size: 20px;
    letter-spacing: -0.1em;
    color: #000000;
}

.link{
    text-decoration: none;
}