.container{
    width: 370px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.needToLogin{
    font-size: 35px;
    letter-spacing: -0.1em;
    color: #000000;
}

.nonMember{
    font-size: 25px;
    letter-spacing: -0.1em;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #666666;
}

.button{
    color: white;
    width: 370px;
    height: 40px;
    font-size: 20px;
    letter-spacing: -0.1em;
    cursor: pointer;
    filter: blur(0.5px);
    border: 0.5px solid rgba(0, 0, 0, 0.35);
    background-color: #72B2C6;
}