.body{
    width: 35vw;
    height: 30vh;
    display: grid;
    position: fixed;
    top: 100px;
    left: 65%;
    border: 0.5px solid #dadada;
    background-color: #ffffff;
    z-index: 1;
    animation: fadeIn 0.4s;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 5% auto 5%;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}