.body, .articleBody, .sectionImage, .sectionProfile, .jwtGridBody, .logoutBody, .linkGridBody{
    width: 100%;
    height: 100%;
}

.body, .articleBody, .sectionImage, .sectionProfile, .jwtGridBody, .linkGridBody{
    display: grid;
}

.body{
    align-items: center;
    grid-row-gap: 2%;
}

.articleBody{
    grid-template-columns: 27.5% auto;
    grid-column-gap: 5%;
}

.sectionImage{
    align-items: center;
}

.image{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: #D9D9D9;
}

.jwtGridBody{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
}

.name, .email{
    margin: 0;
}

.email{
    color: #6b7684;
}

.logoutBody{
    text-align: right;
    display: block;
}

.buttonLogout{
    box-sizing: border-box;
    width: 60%;
    height: 2em;
    background-color: #222222;
    border: 0.5px solid rgba(0, 0, 0, 0.35);
    border-radius: 100px;
    font-size: 11px;
    color: #FFFFFF;
    letter-spacing: -0.05em;
    text-align: center;
    cursor: pointer;
}

.linkGridBody{
    grid-template-columns: auto auto auto auto;
    align-items: center;
}

.linkTitle, .posts, .comments{
    margin: 0;
}

.posts, .comments{
    color: #6b7684;
}

.buttonEditProfile{
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    letter-spacing: -0.1em;
    cursor: pointer;
    border: 0.5px solid rgba(0, 0, 0, 0.35);
    background-color: #72B2C6;
}