.body{
    width: 100vw;
    height: 100vh;
    place-items: center;
    display: grid;
    background-color: white;
}

.loading{
    width: 5vw;
    aspect-ratio: 1/1;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4285f4;
    border-radius: 100%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}