.topNavigationBar{
    display: grid;
    place-items: center;
    grid-template-columns: 320px 1280px 320px;
    grid-template-rows: 100px;
    background-color: #ffffff;
}

body{
    margin: 0;
    background-color: #EEEEEE;
}