@font-face{
    font-family: "NotoSansKRMedium";
    src: url("./fonts/NotoSansKR-Medium.otf");
}

*{
    font-family: "NotoSansKRMedium";
}

body{
    margin: 0;
    padding: 0;
    overflow: scroll;
}

#root {
    width: 100vw;
    height: 100vh;
}